<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>
                            哔哩哔哩移动版-( ゜- ゜)つロ干杯~                    </title>
                    <meta name="description" content="bilibili是国内知名的在线视频弹幕网站，拥有最棒的ACG氛围，哔哩哔哩内容丰富多元，涵盖动漫、电影、二次元舞蹈视频、在线音乐、娱乐时尚、科技生活、鬼畜视频等。下载客户端还可离线下载电影、动漫。">
            <meta name="keywords" content="Bilibili,哔哩哔哩动画,动漫,电影,在线看动漫,在线电影">
                <meta name="theme-color" content="#de698c">
        <meta name = "apple-mobile-web-app-capable" content = "yes">
        <meta name = "apple-mobile-web-app-status-bar-style" content = "black"/>
        <meta name = "format-detection" content = "telephone=no">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name = "apple-itunes-app" content = "app-id=736536022"/>
        <meta http-equiv = "Cache-Control" content = "no-transform">
        <meta name = "applicable-device" content = "mobile">
        <link rel = "apple-touch-icon-precomposed" href = "//static.hdslb.com/mobile/img/512.png"/>
        <link rel = "icon" type = "image/vnd.microsoft.icon" href = "//www.bilibili.com/favicon.ico"/>
        <link rel = "apple-touch-icon" href = "//www.bilibili.com/favicon.ico"/>
        <link href = "//static.hdslb.com/mobile/css/normalize.css" rel = "stylesheet">
        <link href = "//static.hdslb.com/mobile/css/mobile.css" rel = "stylesheet">
        <script type = "text/javascript">
            window.rec_rp = window.rec_rp || function () {
                (rec_rp.q = rec_rp.q || []).push(arguments)
            };
            // setTimeout("myInterval()",3000);//1000为1秒钟
            // function myInterval()
            // {
            //     window.location.href="https://toutiao.com/m/detail/?group_id=&item_id=&scheme=snssdk141%3A%2F%2Fdetail%3Fgroupid%3D6398106399297421569%26gd_label%3Dclick_wap_detail_top%26aggr_type%3D2%26item_id%3D6397989027668034049";
            // }

            function download () 
            {
                // window.location = 'itms-apps://itunes.apple.com/cn/app/bi-li-bi-li-dong-hua/id736536022';  
                window.location = 'https://itunes.apple.com/cn/app/bi-li-bi-li-dong-hua/id736536022';
                setTimeout(function() {      
                window.location = 'http://live.bilibili.com' }, 250);
            }
        </script>
            </head>
    <body>
    
        <div class="app">
            <div class="load-cover"><div class="loading-txt">(´・ω・｀)正在加载...</div></div>
            <nav class="nav-bar">
                <div class="nav-wrp">
                    <a href="javascript:download();void(0);" class="logo"></a>
                    <a class="cell" href="//m.bilibili.com/history.html"><i class="nav-icon bili-icon-history"></i></a>
                    <a class="cell" toggle-switch=".search" href="javascript: void(0);"><i class="nav-icon bili-icon-search"></i></a>
                                    </div>
        </div>

    </nav>
    <div class="search toggle-panel">
        <div class="toggle-panel-bg"></div>
        <div class="toggle-panel-in">
            <div class="search-bar">
                <form action="//m.bilibili.com/search.html" method='GET' id="search_form">
                    <input name="keyword" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="搜索视频、番剧、up主或AV号" />
                </form>
                <i class="bili-icon-search search-icon"></i>
                <i class="bili-icon-circle-del close-icon"></i>
                <a toggle-switch=".search" class="search-cancel">取消</a>
            </div>
            <div class="search-wrapper"></div>
        </div>
    </div>
    <div class="wrapper">
        <![CDATA[YII-BLOCK-BODY-BEGIN]]>            <div class="flex-bar main">
    <ul class="flex-bar-in">
        <li class="on nav-item nav-index"><a href="//m.bilibili.com/index.html" title="首页">首页</a></li>
        <li class="nav-item nav-channel"><a href="//m.bilibili.com/channel.html" title="频道">频道</a></li>
        <li class="nav-item nav-live"><a href="//live.bilibili.com/h5/" title="直播">直播</a></li>
        <li class="nav-item nav-rank"><a href="//m.bilibili.com/ranking.html" title="排行">排行</a></li>
        <li class="nav-item nav-space"><a href="//m.bilibili.com/space.html" title="我的">我的</a></li>
    </ul>
</div>    <div id="sliderWrapper" class="slider-wrapper">
        <div class="slider-bg"></div>
        <div class="b-loading" v-if="!showError && sliderItems && sliderItems.length === 0">没有数据( &gt;﹏&lt;。)～</div>
        <div v-if="!showError && sliderItems && sliderItems.length > 0">
            <div id="slider" class="swipe">
                <div class="swipe-wrap">
                    <a v-for="item in sliderItems" :href="item.url">
                        <img :src="item.pic" :alt="item.name">
                    </a>
                </div>
            </div>
            <div class="swipe-btn-wrapper">
                <div class="swipe-btn-list">
                    <a v-for="item in sliderItems" :class="[active === $index ? activeClass : '']" @click="switchSwipe($event, $index)"></a>
                </div>
            </div>
        </div>
        <div class="b-loading" v-if="showError">加载失败( >﹏<。)～</div>'
    </div>

    <div class="row-container" id="hotRecommend">
        <a href="//m.bilibili.com/ranking.html" class="header">
            <div class="left">
                <span class="bilibili-index-sprite bilibili-index-hot"></span>
                <span>热门推荐</span>
            </div>
            <div class="right hot">
                <span class="bilibili-index-sprite bilibili-index-ranking"></span>
                <span>排行榜</span>
            </div>
        </a>
        <div class="b-loading" v-if="loading">loading...</div>
        <div class="b-loading" v-if="recommendItems && recommendItems.length === 0">没有数据( &gt;﹏&lt;。)～</div>
        <ul class="content-wrapper" v-if="recommendItems && recommendItems.length > 0">
            <li class="content-list" v-for="item in recommendItems">
                <a :href="item.link" class="item">
                    <div class="top" :data-img="item.pic"></div>
                </a>
                <a :href="item.link" class="info">
                    <div class="title">[[item.title]]</div>
                    <div class="meta clearfix">
                        <div class="cell left">
                            <span class="bilibili-index-sprite bilibili-index-play"></span>
                            <span>[[item.play | count]]</span>
                        </div>
                        <div class="cell left">
                            <span class="bilibili-index-sprite bilibili-index-danmu"></span>
                            <span>[[item.video_review | count]]</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        <div class="b-loading" v-if="showError">加载失败( &gt;﹏&lt;。)～</div>
    </div>

    <div class="row-container" id="liveRecommend">
        <a href="//live.bilibili.com" class="header">
            <div class="left">
                <span class="bilibili-index-sprite bilibili-index-live"></span>
                <span>正在直播</span>
            </div>
            <div class="right">
                <span>查看更多直播</span>
                <span class="bilibili-index-sprite bilibili-index-arrow"></span>
            </div>
        </a>
        <div class="b-loading" v-if="loading">loading...</div>
        <div class="b-loading" v-if="liveItems && liveItems.length === 0">没有数据( &gt;﹏&lt;。)～</div>
        <ul class="content-wrapper" v-if="liveItems && liveItems.length > 0">
            <li class="content-list" v-for="item in liveItems">
                <a :href="item.link" class="item">
                    <div class="top" :data-img="item.cover"></div>
                </a>
                <a :href="item.link" class="info clearfix">
                    <div class="avatar">
                        <img :src="item.face" :alt="item.uname">
                    </div>
                    <div class="user">
                        <div class="name text-overflow">[[item.uname]]</div>
                        <div class="desp text-overflow">[[item.title]]</div>
                    </div>
                    <div class="online text-overflow">[[item.online | count]]</div>
                </a>
            </li>
        </ul>
        <div class="b-loading" v-if="showError">加载失败( &gt;﹏&lt;。)～</div>
    </div>
    <div class="row-container" id="bangumiRecommend">
        <a href="/subchannel.html#tid=13" class="header">
            <div class="left">
                <span class="bilibili-index-sprite bilibili-index-bangumi"></span>
                <span>番剧更新</span>
            </div>
            <div class="right">
                <span>查看更多番剧</span>
                <span class="bilibili-index-sprite bilibili-index-arrow"></span>
            </div>
        </a>
        <div class="b-loading" v-if="loading">loading...</div>
        <div class="b-loading" v-if="bangumiItems && bangumiItems.length === 0">没有数据( &gt;﹏&lt;。)～</div>
        <ul class="content-wrapper bangumi-wrapper" v-if="bangumiItems && bangumiItems.length > 0">
            <li class="content-list bangumi-list" v-for="item in bangumiItems">
                <a :href="'//www.bilibili.com' + item.url" class="item">
                    <div class="top" :data-img="item.cover"></div>
                </a>
                <a :href="'//www.bilibili.com' + item.url" class="info clearfix">
                    <div class="bangumi-title text-overflow">[[item.title]]</div>
                    <div class="bangumi-page text-overflow">更新至第[[item.bgmcount]]话</div>
                </a>
            </li>
        </ul>
        <div class="b-loading" v-if="showError">加载失败( &gt;﹏&lt;。)～</div>
    </div>

    <div id="channelRecommend">
        
    </div>
    <div id="b_app_link" class="b-app-dl-wrp"><a class="b-app-dl" title="Bilibili客户端下载"></a></div>

        <![CDATA[YII-BLOCK-BODY-END]]>        <footer>
            <p class="clearfix">
                <a id="change_to_computer" href="javascript:void(0)" class="bottom-btn"><i class="icons icons-computer"></i><span>电脑版</span></a>
                <a id="link_to_app" href="javascript:void(0)" class="bottom-btn"><i class="icons icons-app"></i>客户端</a>
                <a id="back_to_top" href="javascript:void(0)" class="bottom-btn"><i class="icons icons-top"></i>返回顶部</a>
            </p>
            <p>哔哩哔哩 沪ICP备13002172号-3</p>
            <p>信息网络传播视听节目许可证：<span>0910417</span></p>
        </footer>
    </div>
    <div class="add-to-launcher" style="display: none">
        <div class="triangle-down"></div>
        <div class="desc">
            <p>点击<i class="share"></i></p>
            <p>把哔哩哔哩添加到iPhone主屏～</p>
        </div>
        <a class="close" href="javascript:void(0)"></a>
    </div>
</div>
    <script src="//static.hdslb.com/js/jquery.min.js" type="text/javascript"></script>
<script src="//static.hdslb.com/mobile/js/vue.min.js" type="text/javascript"></script>
<script src="//static.hdslb.com/mobile/js/swipe.min.js" type="text/javascript"></script>
<script src="//static.hdslb.com/mobile/js/iscroll.min.js" type="text/javascript"></script>
<script src="//static.hdslb.com/mstation/mobile/base.mobile.js" type="text/javascript"></script>
<script src="//static.hdslb.com/mstation/js/mobile/mobile.zip.js" type="text/javascript"></script>
        <script type="text/javascript">
        Vue.config.delimiters = ['[[', ']]'];
        Vue.filter('count', function(val) {
            if (val >= 10000) {
                return (val / 10000).toFixed(1) + '万';
            } else {
                return val;
            }
        });
        var app = new Application( ".app", {
            preload: ["//api.bilibili.com/x/web-show/res/loc?jsonp=jsonp&pf=7&id=1695", "/index/ding.html", "//www.bilibili.com/index/ranking-3day.json"]
        });
        app.queue("Toggle", ".search");
        app.queue("Swipe", "#sliderWrapper");
        app.queue("AppLink", "#b_app_link");
        app.queue("HotRecommend", '#hotRecommend');
        app.queue("LiveRecommend", '#liveRecommend');
        app.queue('BangumiRecommend', '#bangumiRecommend');
        app.queue('IndexChannel', '#channelRecommend');
        app.init();
    </script>
<div style="display:none">
        <script type="text/javascript">
            $(function () {
                if (window.Zepto) {
                    $.getScript('//data.bilibili.com/rec.js', 'body');
                    $.getScript('//s11.cnzz.com/stat.php?id=2724999&web_id=2724999', 'body');
                } else {
                    $('<scr' + 'ipt type="text/javascript" src="//data.bilibili.com/rec.js"></scri' + 'pt>').appendTo('body');
//                    $('<scr' + 'ipt type="text/javascript" src="//s11.cnzz.com/stat.php?id=2724999&web_id=2724999" charset="UTF-8"></scri' + 'pt>').appendTo('body');
                    var cnzz_s_tag = document.createElement('script');
                    cnzz_s_tag.type = 'text/javascript';
                    cnzz_s_tag.async = true;
                    cnzz_s_tag.charset = "utf-8";
                    cnzz_s_tag.src = "https://s11.cnzz.com/stat.php?id=2724999&web_id=2724999&async=1";
                    var root_s = document.getElementsByTagName('script')[0];
                    root_s.parentNode.insertBefore(cnzz_s_tag, root_s);
                }
            });
    </script>
</div>
</body>
</html>
